body {
    background-color: #f0f2f5;
    color: #355070;
    font-family: 'Century Gothic', CenturyGothic, sans-serif;
    margin: 30px;
}
h1, h2, h3 {
    color: #1769aa;
}
p {
    color: #4f6f8f;
}
a {
    color: #2a8c82;
}
a:hover {
    color: #1769aa;
}
#main {
    max-width: 800px;
}
.italicize {
    font-style: italic;
}